<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anusarwant.ctms">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTMS">
        <activity
            android:name=".PlayerDetails"
            android:exported="false" />
        <activity
            android:name=".TopFives"
            android:exported="false" />
        <activity
            android:name=".TeamList"
            android:exported="false" />
        <activity
            android:name=".PointsTable"
            android:exported="false" />
        <activity
            android:name=".MatchDetails"
            android:exported="false" />
        <activity
            android:name=".ViewMatchList"
            android:exported="false" />
        <activity
            android:name=".AppSettings"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewPreviousTournamentDetails"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewStatistics"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateNewTournament"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomSplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>